# Telegram
TELEGRAM_BOT_TOKEN=

# PocketBase
POCKETBASE_URL=
POCKETBASE_ADMIN_EMAIL=
POCKETBASE_ADMIN_PASSWORD=

# Anthropic (Claude)
ANTHROPIC_API_KEY=your_api_key_here

# Groq (Whisper transcription)
GROQ_API_KEY=

# Server
WEBHOOK_URL=https://your-server.com/webhook
